<html>
<h1> To start battle, please enter your names!</h1>
  <form action="/names" method="post">
    Player 1: <input type="text" name="player1">
    Player 2: <input type="text" name="player2">
    <input type="submit" value="Start battle!!!">
  </form>
</html>
